
.grey-circle {
    width:45%;
    height: 38%;
    margin-left: 5%;
    margin-top: 6%;
    border-radius: 50px;
    background-color: #939598
}

.circle-outer {
    width: 6%;
    height: 24px;
    float: left;
}

.para {
    width: 88%;
    height: auto;
    float: left;
font-size: 12px;
}