
.grey-circle {
    width:56%;
    height: 12px;
    margin-left: 5%;
    margin-top: 6%;
    border-radius: 50px;
    background-color: #939598
}

.circle-outer {
    width: 3%;
    height: 23px;
    float: left;
}

.para {
    width: 88%;
    height: auto;
    float: left;
font-size: 14px;
}