
#container {
    margin: 0 auto;
    width: 400px;
    height: 100%;
    overflow: hidden;
}

#photo {
    width: 1200px;
    animation: switch 5s ease-out infinite;
}

#photo > img {
    float: left;
    width: 400px;
    height: 167px;
}

@keyframes switch {
    0%, 25% {
        margin-left: 0;
    }
    35%, 60% {
        margin-left: -400px;
    }
    70%, 100% {
        margin-left: -800px;
    }
}
#dark{
    height: 154px;
    width: 100%;
    background-color: #b3b3b3;
}